@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IndonesiaScript";
    font-weight: 400;
    src: url("../font/Indonesia Script.otf") format("opentype");
  }
  @font-face {
    font-family: "Rubik";
    font-weight: 400;
    src: url("../font/Rubik-VariableFont_wght.ttf") format("truetype");
  }
}

::-webkit-scrollbar {
  background: transparent;
  height: 9px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #eaeaea;
  border-radius: 15px;
}

::-moz-selection {
  background: #969696;
}

body {
  overflow: overlay;
}
.scrolling {
  transition: transform 0.3s ease;
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 0.1px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
