@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IndonesiaScript";
    font-weight: 400;
    src: url("../font/Indonesia Script.otf") format("opentype");
  }
  @font-face {
    font-family: "Rubik";
    font-weight: 400;
    src: url("../font/Rubik-VariableFont_wght.ttf") format("truetype");
  }
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 0.1px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}
